/* carousel */
.carousel {
    position: relative;
}

.carousel-item {
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.carousel-item:nth-child(1) {
    background-image: url(./../Image/b1.jpg);
}

.carousel-item:nth-child(2) {
    background-image: url(./../Image/b2.jpg);
}

.carousel-item:nth-child(3) {
    background-image: url(./../Image/b3.jpg);
}

.carousel-item:nth-child(4) {
    background-image: url(./../Image/b4.jpg);
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* .animate__animated {
    animation-iteration-count: infinite;
} */

.carousel-caption h3 {
    max-width: 800px;
    font-size: 65px;
    font-weight: 600;
    line-height: 1.1;
    text-align: left;
    margin-left: 0;
    margin-bottom: 18px;
    transition: all .6s;
}

.carousel-caption p {
    max-width: 600px;
    font-size: 20px;
    color: var(--white-color);
    line-height: 30px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 18px;
    transition: all .6s;
}

.carousel-caption .carousel-btn {
    padding: 0;
}

.carousel-caption .carousel-btn .carousel-link {
    color: var(--white-color);
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 5px;
    display: block;
}

.carousel__list {
    visibility: hidden;
    position: absolute;
    top: 88%;
}

.carousel__list li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: none;
}

.carousel-control--prev {
    position: absolute;
    top: 93%;
    right: 6%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid;
    outline: none;
    background-color: transparent;
    transform: translateY(-50%);
    z-index: 3;
}

.carousel-control--prev i,
.carousel-control--next i {
    font-size: 20px;
    color: var(--white-color);
    display: block;
}

.carousel-control--next {
    position: absolute;
    top: 93%;
    right: 2%;
    width: 50px;
    height: 50px;
    border: 1px solid;
    /* outline: none; */
    border-radius: 50%;
    background-color: transparent;
    transform: translateY(-50%);
    z-index: 3;
}

.shape {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
}

/* Dark theme */
.shape path {
    fill: var(--dark-blue);
}

/* Light theme  */
.light#arrow-left,
.light#arrow-right {
    font-size: 20px;
    color: var(--dark-blue);
    display: block;
}

.light#path {
    fill: white;
}



/* Responsive */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .carousel-caption h3 {
        font-size: 26px;
        width: 100%;
    }

    .carousel-item {
        height: 70vh;
    }

    .carousel-control--prev,
    .carousel-control--next {
        /* display: none; */
        border-color: transparent;
    }

    .carousel-control--prev i,
    .carousel-control--next i {
        display: none;
    }

    .light#arrow-left,
    .light#arrow-right{
        display: none;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-caption h3 {
        font-size: 36px;
        width: 100%;
    }

    .carousel-caption p {
        font-size: 15px;
        width: 100%;
    }

    .carousel-item {
        height: 90vh;
    }

    .carousel-control--prev,
    .carousel-control--next {
        /* display: none; */
        border-color: transparent;
    }

    .carousel-control--prev i,
    .carousel-control--next i {
        display: none;
    }

    .light#arrow-left,
    .light#arrow-right{
        display: none;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .carousel-caption h3 {
        font-size: 40px;
        width: 100%;
    }

    .carousel-item {
        height: 90vh;
    }

    .carousel-control--prev,
    .carousel-control--next {
        display: none;
    }

    .carousel-control--prev i,
    .carousel-control--next i {
        display: none;
    }

    .light#arrow-left,
    .light#arrow-right{
        display: none;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .carousel-caption h3 {
        font-size: 42px;
        width: 100%;
    }

    .carousel-item {
        height: 95vh;
    }

    .carousel-control--prev i,
    .carousel-control--next i {
        display: none;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}