:root{
    --white-color: #fff;
    --text-color: rgb(204, 202, 202);
    --green-color: #009F4D;
    --dark-blue: #151421;
    --layer: rgba(29, 42, 55, 0.8);
    --font-color: #c2c2c2;
    --heading-color: #eee;
    --gray-color: #9B9B9D;
    --border-color: #44434D;
}